<html>
<head>
<link rel="stylesheet" href="static/main.css" />
<script type="text/javascript">
	  var current_number = 1;
      var recognition = new webkitSpeechRecognition();
      recognition.lang = 'en-GB';
      recognition.maxAlternatives = 1;
      recognition.onresult = function(event) {
        if (event.results.length > 0) {
          var result = event.results[0];
          for (var i = 0; i < result.length; ++i) {
            var text = result[i].transcript;
            select.options[i] = new Option(text, text);
          }
        }
        if(parseInt(select.options[0].text) == current_number){
        	current_number = current_number + 1;
        	document.getElementById("current_number").innerHTML = parseInt(current_number);
        }
      }
      function start() {
        select.options.length = 0;
        recognition.start();
      }
    </script>
    
</script>
<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Current Number:</a></h1>
						
							</header>
							<footer>
								<a href="#banner" id="current_number" class="button circled scrolly">1</a>
							</footer>
						</div>

				</div>

				</div>

		</div>
		<select id="select"></select>
		<button onclick="start()">Click to Speak</button>
		<!-- Scripts -->
			<script>
				function myFunction() {
					document.getElementById("current_number").innerHTML = (parseInt(document.getElementById("current_number").innerHTML) + 1);
				}
			</script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.onvisible.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

</body>
</html>
