<html>
<head>
<script>
var someJavaScriptVar = '{{ myVar }}';
</script>
<script type="text/javascript">
      var recognition = new webkitSpeechRecognition();
      recognition.maxAlternatives = 10;
      recognition.onresult = function(event) {
        if (event.results.length > 0) {
          var result = event.results[0];
          for (var i = 0; i < result.length; ++i) {
            var text = result[i].transcript;
            select.options[i] = new Option(text, text);
          }
        }
      }

      function start() {
        select.options.length = 0;
        recognition.start();
      }
    </script>

    <select id="select"></select>
    <button onclick="start()">Click to Speak</button>
</script>
<body>
<p>Hello World</p>
<button onclick="alert('Name: {{ myVar }} ' + someJavaScriptVar)" />
</body>
</html>
